numpy==1.20.0
pandas
scipy
yacs==0.1.8

matplotlib
tqdm
seaborn
albumentations

opencv-python
pillow==8.3.2

scikit-learn
torchvision

notebook
ipywidgets
traitlets==5.1.1
pygments==2.4.1
MarkupSafe==2.0
ipython==7.23.1

torch-lucent
image-functions-barel
pytest==6.0.2
flake8==3.8.3
mlflow==1.13.1